.team-card {
    // border-radius: 7px;
    // overflow: hidden;

    .top-bg {
        height: 100px;
    }

    .team-card-content {
        position: relative;
        background: white;
        padding-left: 15px;
        padding-right: 15px;
        color: rgba(0, 0, 0, 0.8);

        .name {
            margin-top: 15px;
        }

        p {
            margin-top: 10px;
        }

        img.pro-pic {
            width: 100px;
            height: auto;
            position: absolute;
            border-radius: 50px;
            top: -42px;
            left: 50%;
            transform: translateX(-50%);
            border: 3px solid white;
        }
    }
}